@media screen and (max-width: 767px) {
  .contact,
  .menu__list {
    display: none;
  }
  .particular__subtitle {
    text-align: center;
  }
  .footer__social {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
  .contact {
    margin-top: 20px;
    margin-bottom: 19px;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@include smart {
  .footer__input {
    width: 450px;
  }
}

@include tab {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header_tab_bg@1x.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header_tab_bg@2x.jpg);
    }
  }

  .header {
    &__btn {
      display: none;
    }
    &__logo {
      margin-right: 88px;
    }
  }

  .particular {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__item {
      max-width: 354px;
    }
  }
  .team {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__item {
      max-width: 354px;
    }
  }
  .footer {
    > .container {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__input {
      min-width: 450px;
    }
  }
  .filter {
    width: 100%;
    justify-content: center;
    column-gap: 8px;
  }
  .project {
    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer__wrapp {
    margin: 0 auto;
  }
}

@include desktop {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    &__logo {
      font-size: 26px;
      margin-right: 93px;
    }
    .contact {
      display: flex;
      gap: 30px;
    }
  }

  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header_desktop_bg@1x.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header_desktop_bg@2x.jpg);
    }
    &__title {
      font-size: 44px;
      line-height: 1.36;
    }
    &__btn {
      min-width: 216px;
      padding: 10px 32px;
    }
  }
  .particular {
    &__list {
      display: flex;
      flex-direction: row;
      gap: $gap-card;
      @extend %list;
    }
    &__item {
      width: 270px;
    }
  }
  .work {
    &__title {
      font-size: 36px;
    }
  }
  .team {
    &__title {
      @extend %title;
      margin-bottom: 50px;
      font-size: 36px;
    }
    &__list {
      display: flex;
      flex-wrap: nowrap;
      gap: $gap-card;
      @extend %list;
    }
    &__content {
      padding-bottom: 30px;
    }
  }
  .clients {
    margin-bottom: 50px;
    font-size: 36px;
    flex-wrap: nowrap;
    &__item {
      width: 170px;
    }
  }
  .modal {
    width: 528px;
    max-width: 100%;
  }
  .form-agreement {
    &__label {
      font-size: 14px;
    }
  }
  .footer {
    > .container {
      display: flex;
      column-gap: 93px;
      text-align: start;
    }
    &__logo {
      font-size: 26px;
    }
    &__wrapp {
      margin: 12px 0 0 0;
    }
    &__social {
      margin-top: 12px;
    }
    &__form {
      display: flex;
      column-gap: 12px;
      flex-wrap: nowrap;
    }
    &__input {
      width: 358px;
      margin: 0;
      padding: 15px 16px;
    }
    &__contact {
      margin-bottom: 0;
    }
    &__input {
      min-width: 358px;
    }
  }
}
